.bg{
    background: url(../IMG/mementoBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#map_canvas{
    width: 900px;
    height: 900px;
    background-color: #CCC;
}
.modal-content{
    margin-right:1000px;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}


